.confi
.config
.config.old
bin/
build_dir/
config_new
dl/
key-build
key-build.pub
scripts/config/conf
scripts/config/conf.o
scripts/config/mconf
scripts/config/mconf.o
scripts/config/zconf.hash.c
scripts/config/zconf.tab.c
scripts/config/zconf.tab.o
staging_dir/
tmp/

